name: Build and Push Images

on:
  push:
    branches: [ "main" ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Backend Image
      run: |
        docker build -t mshams0369/grocery-backend:latest ./backend
        docker push mshams0369/grocery-backend:latest

  build-frontend:
    runs-on: ubuntu-latest
    needs: build-backend
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Frontend Image
      run: |
        docker build -t mshams0369/grocery-frontend:latest ./frontend
        docker push mshams0369/grocery-frontend:latest
